name: Kafka setup

on:
  push:
    branches:
      - main
  pull_request:
  
jobs:
  test-kafka:
    runs-on: ubuntu-latest

    services:
      zookeeper:
        image: confluentinc/cp-zookeeper:7.5.0
        env:
          ZOOKEEPER_CLIENT_PORT: 2181
          ZOOKEEPER_TICK_TIME: 2000
        ports:
          - 2181:2181

      kafka:
        image: confluentinc/cp-kafka:7.5.0
        env:
          KAFKA_BROKER_ID: 1
          KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
          KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        ports:
          - 9092:9092

    steps:
      - uses: actions/checkout@v3

      - name: Wait for Kafka
        run: |
          echo "Waiting for Kafka to be ready..."
          CONTAINER_NAME=$(docker ps --filter "ancestor=confluentinc/cp-kafka:7.5.0" --format "{{.Names}}" | head -n1)
          echo $CONTAINER_NAME
          for i in {1..20}; do
            if docker exec $CONTAINER_NAME kafka-topics --bootstrap-server localhost:9092 --list; then
              echo "Kafka is ready!"
              break
            fi
            echo "Waiting for Kafka... (attempt $i)"
            sleep 5
          done

      - name: Create a test topic
        run: |
          CONTAINER_NAME=$(docker ps --filter "ancestor=confluentinc/cp-kafka:7.5.0" --format "{{.Names}}" | head -n1)
          echo "Kafka container name: $CONTAINER_NAME"
          docker exec $CONTAINER_NAME kafka-topics \
            --bootstrap-server localhost:9092 \
            --create \
            --topic test-topic \
            --partitions 1 \
            --replication-factor 1

      - name: Verify topic list
        run: |
          CONTAINER_NAME=$(docker ps --filter "ancestor=confluentinc/cp-kafka:7.5.0" --format "{{.Names}}" | head -n1)
          echo "Kafka container name: $CONTAINER_NAME"
          docker exec $CONTAINER_NAME kafka-topics --bootstrap-server localhost:9092 --list

      # -------------------------
      # Setup Python
      # -------------------------
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      # Install Python test dependencies
      - name: Install Python dependencies
        working-directory: ./demo
        run: |
          pip install -r requirements.txt

      # Run Kafka async producer/consumer/admin test
      - name: Run Kafka Python Test
        working-directory: ./demo
        run: |
          python kafka_async_demo.py
          
